.nav-container {
    display: flex;
    background-color: var(--blue);
    height: 4rem;
}

.nav-cell {
    padding: 2rem;
    width: 30%;
}

.links-container {
    display: flex;
    gap: 2rem;
}

.nav-container a {
    color: #fff;
}

.logo-cont {
    padding: 0;
}

.logo {
    height: 100%;
    aspect-ratio: 1/1;
}